.idea
*.pth
*.pyc
wandb/**
work_dirs/**
data
code/wandb/**
results/*
code/compare_models/reps/*
code/compare_models/checkpoints
results
**.log
test/**
**/wandb/**
*.png
!framework.png
!web_page/images/*.png
*_hide
*.csv
.vscode/**
create_fresh_history.sh